.ErrorPage {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	p {
			font: var(--font-m);
			font-size: 20px;
			color: #3b344f;
			margin-bottom: 20px;
		}

	Button {
		padding: 5px 10px;
		color: #261b50;
		border-radius: 10px;
		border: 1px solid #261b50;
	}
}
